@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

:root {
  --button-background: transparent;
  --button-text-color: #1976d2;
  --button-border-color: #1976d2;

  --button-hover-background: rgba(25, 118, 210, 0.1);
  --button-hover-text-color: #1976d2;
  --button-hover-border-color: #1976d2;
}
