@import '../themes.css';

.label {
    background-color: transparent;
    border: 2px solid var(--label-color);
    border-radius: 12px;
    padding: 8px 16px;
    font-size: 16px;
    color: var(--label-color);
    display: inline-block;
}