.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center; /* Centra los elementos */
  align-items: center;
  padding: 15px 30px;
  background: #1976d2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: center; /* Centra todo el contenido dentro del navbar */
  align-items: center;
  width: 100%; /* Asegura que todo el navbar ocupe el ancho completo */
}

.navbar.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.navbar.visible {
  transform: translateY(0);
  opacity: 1;
}

.menu-items {
  display: flex;
  justify-content: center; /* Centra los enlaces dentro del menú */
  align-items: center;
  gap: 20px; /* Espacio entre los elementos del menú */
  flex-wrap: nowrap;
  color: oklch(35% 0.03 260);
}

.menu-items.open {
  display: flex; /* Cuando el menú está abierto, los elementos se muestran */
}

.navbar a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.2rem;
  transition: color 0.3s ease;
  padding: 10px;
  color: #ffffff;
}

.navbar a:hover {
  color: #dbdbdb;
}

/* Estilos para el icono de hamburguesa en móviles */
.hamburger-icon {
  display: none; /* Oculto por defecto */
  background: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
}

.hamburger-icon:hover {
  background-color: var(--highlight-color);
}

/* Diseño responsive para pantallas pequeñas */
@media (max-width: 768px) {
  .navbar {
    justify-content: flex-start; /* En móviles, los items deben estar alineados a la izquierda */
    padding: 10px; /* Espaciado interno del navbar en móviles */
  }

  .menu-items {
    display: none; /* Oculta el menú por defecto */
    flex-direction: column; /* Alinea los enlaces verticalmente */
    align-items: center; /* Centra los enlaces */
    width: 100%; /* Asegura que ocupe el ancho completo */
  }

  .hamburger-icon {
    display: block; /* Muestra el icono de hamburguesa */
  }

  .navbar-container {
    justify-content: space-between; /* Espacio entre el icono y los enlaces en la vista móvil */
    width: 100%; /* Asegura que ocupe todo el ancho */
  }

  .navbar a {
    font-size: 1rem;
    margin: 10px 0; /* Espaciado entre los enlaces en dispositivos móviles */
  }
}
