.project-focus {
  background-color: var(--selected-card-background-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  text-align: center; /* Alinea todo el contenido al centro */
}

.project-focus h2 {
  font-size: 2rem;
  color: var(--selected-card-title-color);
  margin-bottom: 10px;
}

.project-focus p {
  font-size: 1rem;
  color: var(--selected-card-text-color);
  line-height: 1.5;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center; /* Centra las imágenes */
  margin: 20px 0;
}

.image-container img {
  flex: 1 1 calc(25% - 15px); /* Ajusta el tamaño de las imágenes */
  max-width: calc(45% - 35px); /* Asegura que las imágenes no sean más anchas que el contenedor */
  max-height: calc(45% - 35px); /* Ajusta la altura máxima de la imagen */
  border-radius: 4px;
  object-fit: cover;
}
