/* Settings.css */

/* Botones de idioma */
.language-button {
  background-color: white; /* Color verde */
  color: #1976d2;
  &:hover {
    background-color: #1976d2; /* Color verde más oscuro */
    color: white;
  }
}
  
/* Botones de tema */
.theme-button {
  background-color: white; /* Color verde */
  color: #1976d2;
  &:hover {
    background-color: #1976d2; /* Color verde más oscuro */
    color: white;
  }
}

.button-box {
  padding: 16px;  /* Agrega un poco de espacio alrededor del contenido dentro del Box */
  display: flex;
  flex-direction: column;
  gap: 8px;  /* Espaciado entre los botones */
}

/* Padding específico para los botones dentro del Box */
.language-button, .theme-button {
  padding: 5px 10px; /* Ajusta el padding de los botones */
  font-size: 14px;  /* Tamaño de la fuente */
}
  
  