@import '../themes.css';

.about-me {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}
  
.about-header {
  text-align: center;
  padding: 20px;
}
  
.about-header h1 {
  margin: 0;
  font-size: 36px;
}
  
.about-content {
  display: flex;
  padding: 40px;
  background-color: var(--secundary-background-color);
  flex-wrap: wrap; /* Permitir que los elementos se ajusten a la siguiente línea */
}

.about-glass {
  background: linear-gradient(135deg, var(--glass-color-1), var(--glass-color-2));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

  display: flex;
  padding: 40px;
  margin: 25px;
  flex-wrap: wrap;
}

  
.about-text {
  flex: 2;
  padding-right: 20px;
  order: 1; /* Orden inicial del texto */
}

.about-text p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.6;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 2; /* Orden inicial de la imagen */
}

.about-image img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid transparent;
}

.about-skills {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap; /* Permitir que las columnas se ajusten a la siguiente línea */
  color: var(--text-color);
}

.skills-column {
  flex: 1;
  margin: 0 10px;
  text-align: center; /* Alinear el encabezado al centro */
}

.skills-column h3 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;   /* Alinear el encabezado a la izquierda */
}

.skills-column p {
  margin: 5px 0;
  font-size: 14px;
  text-align: center; /* Alinear los párrafos a la izquierda */
  color: gray
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column; /* Apilar los elementos verticalmente */
    padding: 0px; /* Reducir el padding en pantallas pequeñas */
    margin: 0px;
  }

  .about-glass {
    margin: 20px; /* Eliminar el margen */
    padding: 0px; /* Añadir padding */
  }

  .about-image {
    order: 1; /* Mover la imagen arriba */
    margin: 25px; /* Añadir un espacio debajo de la imagen */
  }

  .about-text {
    order: 2; /* Mover el texto debajo de la imagen */
    margin: 25px 0px;
    padding: 0px; /* Añadir padding */
  }

  .about-text p {
    font-size: 14px; /* Reducir el tamaño del texto */
  }

  .about-skills {
    flex-direction: column; /* Apilar las columnas verticalmente */
    align-items: center; /* Centrar los elementos */
    
  }

  .skills-column {
    margin-bottom: 20px; /* Añadir espacio entre las columnas */
    text-align: center; /* Alinear el texto al centro */
  }
}