/* Tema claro */
[data-theme="light"] {
    --background-color: #ffffff;
    --secundary-background-color: #f5f5f5;
    --glass-color-1: rgba(255, 255, 255, 0);
    --glass-color-2: rgba(0, 123, 255, 0.2);
    --text-color: #222222;
    --h1-color: #000000;
    --button-background: #007bff;
    --button-hover-background: #0056b3;
    --button-text-color: #ffffff;
    --button-hover-text-color: #ffffff;
    --card-background-color: #f9f9f9;
    --card-border-color: #dddddd;
    --hover-card-background-color: #ececec;
    --card-expanded-background-color: #ffffff;
    --card-title-color: #007bff;
    --card-expanded-text-color: #333333;
    --selected-card-background-color: #ffffff;
    --selected-card-text-color: #333333;
    --selected-card-title-color: #007bff;
    --label-color: #007bff;
    --link-color: #007bff;
    --link-hover-color: #0056b3;
    --highlight-color: #ffdd57;
    --hover-navbar: #ececec;
    --backgground-navbar: rgba(255, 255, 255, 0.5);
    --filter-color-background: rgba(255, 255,255, 0.5);
    --image-background: url('./assets/light.webp');
}

/* Tema oscuro */
[data-theme="dark"] {
    --background-color: #252525;
    --secundary-background-color: #35607a;
    --glass-color-1: rgba(255, 255, 255, 0.2);
    --glass-color-2: rgba(255, 255, 255, 0);
    --text-color: #f0f0f0;
    --h1-color: #e8dba1;
    --button-background: #335ae5;
    --button-hover-background: #335ae5;
    --button-text-color: #335ae5;
    --button-hover-text-color: #f0f0f0;
    --card-background-color: #555555;
    --card-border-color: #444444;
    --hover-card-background-color: #666666;
    --card-expanded-background-color: #f0f0f0;
    --card-title-color: #5ABDD8;
    --card-expanded-text-color: #333333;
    --selected-card-background-color: #f0f0f0;
    --selected-card-text-color: #222222;
    --selected-card-title-color: #5ABDD8;
    --label-color: #5ABDD8;
    --link-color: #007bff;
    --link-hover-color: #00aaff;
    --highlight-color: #e8dba1;
    --hover-navbar: #5ABDD8;
    --backgground-navbar: rgba(0, 0, 0, 0.5);
    --filter-color-background: rgba(0, 0, 0, 0.5);
    --image-background: url('./assets/dark.webp');
}

/* Tema rosa */
[data-theme="pink"] {
    --background-color: #f5c6d0;
    --secundary-background-color: #f9d9e0;
    --glass-color-1: rgba(255, 255, 255, 0.3); /* Rosa claro con opacidad */
    --glass-color-2: rgba(255, 105, 180, 0.4); /* Rosa pastel con opacidad */
    --text-color: gray;
    --h1-color: #d5006f;
    --button-background: #d5006f;
    --button-hover-background: #b4005d;
    --button-text-color: #ffffff;
    --button-hover-text-color: #ffffff;
    --card-background-color: #f8d4dd;
    --card-border-color: #e3a3b5;
    --hover-card-background-color: #eab7c3;
    --card-expanded-background-color: #ffffff;
    --card-title-color: #d5006f;
    --card-expanded-text-color: #333333;
    --selected-card-background-color: #ffffff;
    --selected-card-text-color: #333333;
    --selected-card-title-color: #d5006f;
    --label-color: #d5006f;
    --link-color: #d5006f;
    --link-hover-color: #b4005d;
    --highlight-color: #ff69b4;
    --hover-navbar: #d88aa5;
    --backgground-navbar: rgba(255, 255, 255, 0.5);
    --filter-color-background: rgba(255, 255,255, 0.5);
    --image-background: url('./assets/pink.webp');
}
